// Style the entire Testimonial container by making the
// direct children evenly spaced in a column. 
.app__testimonials {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

/*
    Style the individual testimonial container by giving the div
    element a width of 60%, a min-height of 320px, 
    and a display of flex such that the children img 
    and divs (which the text and icons) all are flex items.
*/
.app__testimonials-item {
    width: 60%;
    min-height: 320px;
    background-color: var(--white-color);
    display: flex;
    padding: 2rem;
    border-radius: 15px; // round out corners

    // Give a box shadow with a blur-radius of 30px
    // and the specific rgba value.
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease-in-out;

    // Style image of the person giving the testimonial by
    // giving them a set width and height of 100px
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%; // to appear circular
        object-fit: cover;
    }

    // For extra large devices, increase the min-height
    // of the div containing the testimonial and the image size.
    @media screen and (min-width: 2000px) {
        min-height: 450px;

        img {
            width: 150px;
            height: 150px;
        }
    }

    // For devices like tablets, make the testimonial take
    // up the entire screen!
    @media screen and (max-width: 850px) {
        width: 100%;
    }

    // For even smaller devices, make the contents of the testimonial
    // appear in a column as there is little horizontal space.
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}

/*
    For the content div of the testimonial, we want to have the
    text appear in a column (top to bottom), and there should
    be even space around each text block. Additionally, we want 
    the text to be displayed evenly in the flex container, and 
    the text should be left aligned.
*/
.app__testimonials-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex: 1;
    height: 100%;
    padding: 0 2rem;
    text-align: left;

    // Style all text-elements to make them pop
    // out more on the screen.
    p {
        font-size: 1.25rem;
        line-height: 2rem;
        color: var(--black-color);
        font-family: var(--font-base);
    }

    h4 {
        font-weight: 600;
        color: var(--secondary-color);
        margin-top: 2rem;
    }

    h5 {
        font-weight: 400;
        color: var(--gray-color);
        margin-top: 5px;
    }
}

/*
    Style the back and forward buttons in the testimonial container.
    Since the div has in its className attribute app__flex, 
    the children divs should be spaced apart evenly from our App.scss
    styling.
*/
.app__testimonials-buttons {
    // Make the divs containing the buttons appear in a row
    // with spacing at the top of them.
    flex-direction: row;
    margin-top: 1rem;
    
    /*
        Style each div that contains a button by making them appear
        ciruclar with border-radius: 50%

        Because the divs also contain app__flex in the className attribute,
        then icons should be flex items and thus appear in the center of
        the div due to the App.scss styling.
    */
    div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--white-color);

        margin: 1rem;
        transition: all 0.3s ease-in-out;

        // Style svg icons (the arrows)
        svg {
            width: 20px;
            height: 20px;
            color: var(--secondary-color);
        };
    
        &:hover {
            background-color: var(--secondary-color);

            svg {
                color: var(--white-color);
            }
        }
    }
}

// Style the SVG logos container by giving
// a set width of 80% and flex-wrap
.app__testimonials-brands {
    width: 80%;
    flex-wrap: wrap;
    margin-top: 2rem;

    // Style the motion.divs inside the parent container.
    // Make them only 150px in width and a margin on all sides.
    div {
        width: 150px;
        margin: 1.5rem;

        // Style the individual svg logos inside each motion.div
        // by making them cover the div and giving them a grey filter.
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            filter: grayscale(1);
        }

        // Provide color when the user hovers over the brand image.
        &:hover {
            img {
                filter: grayscale(0);
            }
        }

        // For larger devices, increase image sizes by 
        // increasing the width of the motion.divs
        @media screen and (min-width: 2000px) {
            width: 200px;
            margin: 2rem;
        }

        // For smaller devices, decrease image sizes by
        // decreasing the width of the motion.divs
        @media screen and (max-width: 450px) {
            width: 120px;
            margin: 1rem;
        }
    }

    // For smaller devices, make brands container take up 100%
    // of the screen.
    @media screen and (max-width: 450px) {
        width: 100%;
    }
}